
//
//  Secrets.xcconfig
//  HandleApp
//
//  Created by SDC-USER on 09/01/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
OPEN_ROUTER_API_KEY = AIzaSyAE2YXl0e_r1ZGuxWRqAyzUo0ZXAkRJGh0

//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


// Twitter (X)
TWITTER_CLIENT_ID = S2F0c1FjY2hETDVZX2FDaEVuQnU6MTpjaQ

// Instagram (Meta)
INSTAGRAM_APP_ID = 1657473478567357
INSTAGRAM_APP_SECRET = a895f2b18829dc14820e6a20bed033ac

// LinkedIn (Add your real keys here when you have them)
LINKEDIN_CLIENT_ID = your_linkedin_client_id
LINKEDIN_CLIENT_SECRET = your_linkedin_client_secret
