//
//  Secrets.xcconfig
//  HandleApp
//
//  Created by SDC-USER on 09/01/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
OPEN_ROUTER_API_KEY = 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
