//
//  Secrets.xcconfig
//  HandleApp
//
//  Created by SDC-USER on 09/01/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
OPEN_ROUTER_API_KEY = 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
